<div class="btn-group float-end float-right btn-group-toolbar">
            <button class="btnAccPrint btn btn-sm btn-primary btn-print">Imprimir</button>
            <button class="btnAccReload btn btn-sm btn-info" class="">Recargar</button>
        </div>
<div>
    <table class="table table-bordered table-sm display" id="myTable">
        <colgroup>
            {{#showIDNumber}}<col width="10%">{{/showIDNumber}}
            <col>
            <col>
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                {{#showIDNumber}}<th>{{headTableIdNumber}}</th>{{/showIDNumber}}
                <th>{{headTableName}}</th>
                <th>{{headTableData}}</th>
                {{#showSummary}}<th>{{headTableCountCourse}}</th>{{/showSummary}}
            </tr>
        </thead>
        <tbody>
        {{#teachers}}
            <tr>
                {{#showIDNumber}}<td>{{id_number}}</td>{{/showIDNumber}}
                <td>
                    <a href="{{userUrl}}" target="_blank" class="badge badge-light">{{{extIcon}}}</a>
                    <a href="{{userUrl}}">{{fullname}}</a>
                </td>
                <td>
                    <ul class="list-group list-group-flush">
                    {{#courses}}
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                            {{#isCourseVisible}}
                                <span class="badge badge-info" data-toggle="tooltip" data-placement="top" title="Visible"><i class="fas fa-eye"></i></span>
                            {{/isCourseVisible}}
                            {{^isCourseVisible}}
                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="No Visible"><i class="fas fa-eye-slash"></i></span>
                            {{/isCourseVisible}}
                            {{{enrolType}}}
                            <a href="{{courseUrl}}" class="btn btn-xs btn-light" target="_blank">{{{extIcon}}}</a>
                            <a href="{{courseUrl}}">{{courseDetail}}</a>
                            </div>
                            {{#courseSummary}}<span class="badge badge-light float-end dashTeacherSummay">{{{courseSummary}}}</span>{{/courseSummary}}
                        </li>
                    {{/courses}}
                    </ul>
                </td>
                <td>{{countCourses}}</td>
            </tr>
        {{/teachers}}
        </tbody>
    </table>
</div>

<script>
    let table = $('#myTable').DataTable({
        responsive: true
    });
</script>
<div class="mt-1"><small class="text-muted">{{titGen}} {{dateGen}}</small></div>